 @model ScadenzaViewModel
 <tr>
                        <td>
                             @Html.DisplayFor(modelItem => Model.Beneficiario)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => Model.DataScadenza)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => Model.Importo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Sollecito)
                        </td>
                        <td>
                            @if (Model.GiorniRitardo < 0)
                            {
                                int appoggio = @Math.Abs((int)Model.GiorniRitardo);
                                <font color="ff0000">
                                @{
                                    @appoggio
                                }
                                </font>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => Model.GiorniRitardo)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.DataPagamento)
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <a class="btn btn-outline-primary" asp-action="Detail" asp-controller="Scadenze" asp-route-id = "@Model.IDScadenza">Dettaglio</a>
                            </div>
                        </td>
                    </tr>