@model BeneficiarioViewModel
<tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Beneficiario)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => Model.Descrizione)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => Model.Email)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => Model.Telefono)
                        </td>
                        <td>
                           <a href="@Html.DisplayFor(modelItem => Model.SitoWeb)">@Html.DisplayFor(modelItem => Model.SitoWeb)</a>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <a class="btn btn-outline-primary" asp-action="Detail" asp-controller="Beneficiari" asp-route-id = "@Model.IDBeneficiario">Dettaglio</a>
                            </div>
                        </td>
                    </tr>