@model BeneficiarioViewModel
<tr>
                        @{
                           string descrizione = Model.Descrizione;
                           if(descrizione.Length > 20)
                              descrizione = descrizione.Substring(0,20);
                        }
                        <td>
                            @Html.DisplayFor(modelItem => Model.Beneficiario)
                        </td>
                        <td>
                           <p><a asp-controller="Beneficiari" asp-action="Edit" asp-route-id="@Model.IDBeneficiario">@Html.Raw(descrizione)</a></p>
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => Model.Email)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => Model.Telefono)
                        </td>
                        <td>
                           <a href="@Html.DisplayFor(modelItem => Model.SitoWeb)">@Html.DisplayFor(modelItem => Model.SitoWeb)</a>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <a class="btn btn-outline-primary" asp-action="Detail" asp-controller="Beneficiari" asp-route-id = "@Model.IDBeneficiario">Dettaglio</a>
                            </div>
                        </td>
                    </tr>