@model ScadenzaViewModel
<br>
<br>
<div class="alert alert-success">
    <h2><b>@ViewData["Title"]</b></h2>
</div>
<br>
<section class="course-info">
    <div class="row">
        <input type="hidden" name="id" asp-for="IDScadenza">
        <div class="col-md-6">
            <a class="btn btn-outline-primary btn-lg" asp-action="Edit" asp-route-id="@Model.IDScadenza"><i class="fas fa-pencil-alt"></i> Modifica</a>
            <a class="btn btn-outline-primary btn-lg" asp-action="Index"><i class="fas fa-th-list"></i> Torna alla Lista</a>
        </div>
        <div class="col-md-6">
          
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-9">
                <div class="form-group">
                    <label asp-for="Beneficiario"></label>
                    <input type="text" class="form-control form-control-lg" asp-for="Beneficiario" readonly="true">
                </div>
                <div class="form-group">
                    <label asp-for="DataScadenza"></label>
                    <input asp-for="DataScadenza" class="form-control" readonly="true">
                </div>
                <div class="form-group">
                    <label asp-for="Importo"></label>
                    <input asp-for="Importo" class="form-control" readonly="true">
                </div>
            </div>
            <div class="col-md-3">
                <aside>
                    <div class="form-group">
                         @if(Model.GiorniRitardo<0)
                         {
                             Model.GiorniRitardo=@Math.Abs((int)Model.GiorniRitardo);
                            <label asp-for="GiorniRitardo"></label>
                            <input asp-for="GiorniRitardo" class="form-control" readonly="true" style = "color:red">
                         }
                         else
                         {
                            <label asp-for="GiorniRitardo"></label>
                            <input asp-for="GiorniRitardo" class="form-control" readonly="true">
                         }
                    </div>
                    <div class="form-group">
                        <label asp-for="Sollecito"></label>
                         @Html.DisplayFor(model => model.Sollecito)
                    </div>
                    <div class="form-group">
                        <label asp-for="DataPagamento"></label>
                        <input asp-for="DataPagamento" class="form-control" readonly="true">
                    </div>
                </aside>
            </div>
    </div>
</section>
<br>
<br>
@if(Model.Ricevute != null && Model.Ricevute.Count > 0)
{
        <div class="table-responsive-md">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Beneficiario</th>
                    <th scope="col">Nome File</th>
                     <th scope="col">Identificativo Scadenza</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Ricevute)
                {
                    <tr>
                        <td>
                           @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Beneficiario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDScadenza)
                        </td>
                        <td>
                            <div class="dropdown">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Azioni
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-controller="Scadenze" asp-action="Download" asp-route-id ="@item.Id">Scarica File</a>
                                        <a class="dropdown-item" onclick="return confirm('Sei sicuro di voler eliminare il file selezionato?')" href="@Url.Action("DeleteAllegato", new { idscadenza = item.IDScadenza, id = item.Id })">Cancella Allegato</a>
                                    </div> 
                            </div>
                        </td>
                    </tr>
               }
            </tbody>
        </table>
    </div>
}