@model List<ScadenzaViewModel>
<br>
    <br>
    <div class="alert alert-success">
        <h2><b>@ViewData["Title"]</b></h2>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
             <a class="btn btn-outline-primary btn-lg" asp-action="Create" asp-controller="Scadenze"><i class="fas fa-plus-circle"></i>  Nuova Scadenza</a>
        </div>
        <div class="col-md-9">
            
        </div>
    </div>
    <br>
    <br>
    <div class="table-responsive-md">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Beneficiario</th>
                    <th scope="col">Data Scadenza</th>
                    <th scope="col">Importo</th>
                    <th scope="col">Sollecito</th>
                    <th scope="col">Giorni Ritardo</th>
                    <th scope="col">Data Pagamento</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                             @Html.DisplayFor(modelItem => item.Beneficiario)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => item.DataScadenza)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => item.Importo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sollecito)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GiorniRitardo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataPagamento)
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <a class="btn btn-outline-primary" asp-action="Detail" asp-controller="Scadenze" asp-route-id = "@item.IDScadenza">Dettaglio</a>
                            </div>
                        </td>
                    </tr>
               }
            </tbody>
        </table>
    </div>
            
                
            

